/*logo component styling*/
.container {
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 64px;
  margin-bottom: 103px;
}

/*top component* styling*/
.bgImage{
  background-image: url('../../public/Background.png');
  width: 1921px;
  height: 1080px;
  left: 0px;
  top: 0px;
}
.bgTexture {
  background-image: url('../../public/Texture.png');
  width: 1921px;
  height: 1080px;
  left: 0px;
  top: 0px;
}

/*card component styling*/
.card {
  position: absolute;
  width: 235px;
  height: 307px;
  left: 189px;
  top: 263px;
}
.cardInner {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  border-radius: 8px;
}
.cardInner:hover {
  background: #257BC4;
}
.cardInner:hover .cardIimg {
  transition: transform .6s ease-out;
  transform: scale(1.1);
}

.imgBox {
  position: absolute;
  left: 4.26%;
  right: 4.26%;
  top: 3.26%;
  bottom: 26.71%;
  background: #F2F2F2;
}
.cardIimg {
  box-sizing: border-box;
  position: absolute;
  left: 4.26%;
  right: 4.26%;
  top: 3.26%;
  bottom: 26.71%;
}

.id {
  position: absolute;
  left: 11.06%;
  right: 74.47%;
  top: 8.47%;
  bottom: 86.32%;
}
.title {
  position: absolute;
  left: 6.81%;
  right: 62.13%;
  top: 78.5%;
  bottom: 15.64%;
}
.powerBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 166px;
  height: 24px;
  left: 16px;
  top: 267px;
}
.rec20 {
  position: absolute;
  left: 105.09%;
  right: -27.47%;
  top: 78.8%;
  bottom: -13.69%;

  background: #FFFFFF;
  transform: rotate(45deg);
}
.rec18{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #FFFFFF;
}



/******************Character details component styles***************/
.detailsContainer{
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #F2F2F2;
}
.pattern {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: -1px;
  top: 0px;
}
.containerBg2 {
  position: absolute;
  width: 540px;
  height: 540px;
  left: -400px;
  top: 540px;
  background: url('../../public/container_bg2.png');
}
.containerBg3 {
  position: absolute;
  width: 540px;
  height: 540px;
  left: -400px;
  top: 0px;
  background: url('../../public/container_bg3.png');
}
.containerBg4 {
  position: absolute;
  width: 540px;
  height: 540px;
  left: 1780px;
  top: 540px;
  background: url('../../public/container_bg4.png');
}
.containerBg5 {
  position: absolute;
  width: 540px;
  height: 540px;
  left: 1780px;
  top: 0px;
  background: url('../../public/container_bg5.png');
}


.characterImgBox {
  position: absolute;
  width: 475px;
  height: 475px;
  left: 723px;
  top: 303px;
  background: #FFFFFF;
}
.characterImg {
  position: absolute;
  left: 0px;
  top: 0px;
}

.content {
  position: absolute;
  width: 424px;
  height: 156px;
  left: 188px;
  top: 307px;
  margin-right: 111px;
}

.idContent {
  position: absolute;
  width: 349px;
  height: 55px;
  left: 188px;
  top: 307px;
  color: #257BC4;
}

.detailsContent {
  position: absolute;
  width: 424px;
  height: 69px;
  left: 188px;
  top: 394px;
}

.contentFlex {
  background-color: #257BC4;
}

.detailsContainer {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

/***************character details end**************/